div.budget-by-points-by-points {
    position: relative;
    width: 714px;
    float: left;
}

.budget-by-points .quarter-tabs {
    margin-top: 9px;
    z-index: 10;
}

.budget-by-points .quarter-tabs .tab {
    float: left;
    width: 170px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
}

.budget-by-points .quarter-tabs .tab-header {
    position: relative;
    font-weight: bold;
    font-size: 13px;
    padding: 4px 11px 2px;
    border-bottom: 1px solid #ffffff;
    background: #eaeeed;
    background: linear-gradient(180deg, #eaeeed 0%,#becfd9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeeed', endColorstr='#becfd9',GradientType=0 );
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.budget-by-points .quarter-tabs .tab-header .required-activities {
    position: absolute;
    top: 5px;
    right: 7px;
}

.budget-by-points .quarter-tabs .tab-header .required-activities img {
    padding-left: 2px;
}

.budget-by-points .quarter-tabs .active .tab-header {
    background: #a8cae2;
}

.budget-by-points .quarter-tabs .tab-header  span {
    font-size: 17px;
}

.budget-by-points .quarter-tabs .tab-body {
    background: #eaeeed;
    font-size: 13px;
    padding: 8px 10px 6px;
    line-height: 17px;
}

.budget-by-points .quarter-tabs .tab-body span{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.budget-by-points .quarter-tabs .active .tab-body {
    background: #cfd7d9;
}

.budget-by-points .quarter-tabs .tab-shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    height: 1px;
    position: absolute;
    left: 2px;
    bottom: -1px;
    z-index: 10;
    width: 165px;
}

.budget-by-points .quarter-tabs .tab:hover .tab-shadow {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 1);
}

.budget-by-points .quarter-tabs .active .tab-shadow {
    display: none;
}

.budget-by-points .quarter-pane {
    background: #cfd7d9;
    z-index: 20;
    position: absolute;
    width: 704px;
    top: 104px;
    left: 0px;
}

.budget-by-points .timeline-wrapper {
    position: relative;
    height: 76px;
    border-bottom: 2px solid #ffffff;
}

.budget-by-points .clock {
    position: absolute;
    width: 42px;
    height: 42px;
    background: url('../images/clock-icon.png') 0px 0px no-repeat;
    top: 17px;
    left: 20px;
}

.budget-by-points .timeline-wrapper .line {
    width: 612px;
    height: 9px;
    background: url('../images/line1.png') 0px 0px no-repeat;
    position: absolute;
    top: 23px;
    left: 73px;
}

.budget-by-points .timeline-wrapper .line .wrapper {
    position: relative;
    margin-left: 9px;
}

.budget-by-points .timeline-wrapper .line .caret {
    background: #f00 url('../images/timeline-caret.png') 0px 0px no-repeat;
    width: 9px;
    height: 11px;
    position: absolute;
    top: 7px;
    left: 98%;
}

.budget-by-points .labels {
    position: absolute;
    width: 612px;
    height: 20px;
    top: 38px;
    left: 75px;
    font-weight: bold;
}

.budget-by-points .label {
    float: left;
    width: 33%;
    margin-right: 2px;
    text-align: center;
}

.budget-by-points .label.last {
    text-align: right;
}

.budget-by-points .label.last span {
    font-size: 15px;
}

.budget-by-points .progressbar-wrapper {
    position: relative;
    height: 76px;
    font-weight: bold;
}

.budget-by-points .sum {
    width: 42px;
    height: 42px;
    background: url('../images/sum-icon.png') 0px 0px no-repeat;
    top: 17px;
    left: 20px;
    position: absolute;
}

.budget-by-points .progressbar {
    width: 609px;
    height: 15px;
    position: absolute;
    top: 19px;
    left: 75px;
}

.budget-by-points .blue {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/progressbar-bg-blue-grad.png') 0px 50% repeat-x;
    width: 0%;
    height: 15px;
    border-radius: 4px;
}
.budget-by-points .blue img { display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.budget-by-points .green {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/progressbar-bg-green.png') 0px 0px repeat-x;
    width: 100%;
    height: 15px;
    border-radius: 4px;
}

.budget-by-points .white {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/progressbar-bg-white.png') 0px 0px repeat-x;
    width: 100%;
    height: 15px;
    border-radius: 4px;
}

.budget-by-points .done {
    position: absolute;
    top: 43px;
    left: 74px;
}

.budget-by-points .overdraft {
    position: absolute;
    top: 43px;
    right: 21px;
}

.budget-by-points .done span, .budget-by-points  .overdraft  span {
    font-size: 15px;
}

.year-summary {
    float: left;
}

.year-summary .diagram-wrapper {
    background: #efefef;
    position: relative;
    height: 225px;
    width: 225px;
    margin-top: 25px;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
}

#flash-diagram {
    width: 100px;
    height: 100px;
    margin: 16px auto 10px;
    display: none;
}

/* nfz overrides */

.budget-by-points-wrapper { position: relative; padding-top: 1em; }
div.budget-by-points { position: relative; width: 100%; }
.budget-by-points .quarter-tabs { float: none; margin: 0; width: auto; border: 1px solid #d1d1d1; border-bottom: 4px solid #5eacdd; }
.budget-by-points .quarter-tabs:after { display: block; clear: both; height: 0; content: '.'; overflow: hidden; }
.budget-by-points .quarter-tabs .tab { margin: 0; width: 25%; border-left: 1px solid #d1d1d1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.budget-by-points .quarter-tabs .tab:first-child { border: 0; }
.budget-by-points .quarter-tabs .tab-header { font-weight: 700; font-size: 19px; padding: 8px 15px; border: 0; background: none; filter: none; border-radius: 0; }
.budget-by-points .quarter-tabs .tab-header .required-activities { top: 9px; right: 15px; }
.budget-by-points .quarter-tabs .tab-header .required-activities img { float: left; margin-left: 2px; }
.budget-by-points .quarter-tabs .tab-header  span { font-size: 19px; }
.budget-by-points .quarter-tabs .tab-body { background: none; font-size: 14px; padding: 0; line-height: 1.16; }
.budget-by-points .quarter-tabs .tab-body span { font-size: 14px; letter-spacing:0; color: #000; }
.budget-by-points .quarter-tabs .active { background: #5eacdd; color: #fff; }
.budget-by-points .quarter-tabs .active .tab-header { background: none; }
.budget-by-points .quarter-tabs .active .tab-body { background: none; }
.budget-by-points .quarter-tabs .tab-shadow { display: none; }

.budget-by-points .quarter-pane { position: relative; top: 0 !important; clear: both; width: auto; background: #ecf2f4; }

.budget-by-points .timeline-wrapper { height: 70px; border-bottom: 1px solid #dee3e4;padding: 0 15px 0 0; }
.budget-by-points .clock { top: 50%; left: 30px; margin-top: -20px; width: 40px; height: 40px;-webkit-background-size: contain;
    background-size: contain; }
.budget-by-points .timeline-wrapper .line, .budget-by-points .progressbar-wrapper .line { width: 810px; height: 12px;position: relative;border-radius: 3px;overflow: hidden; background: url('../images/line1-1.png') 0 0 repeat-x; top: 18px; left: 107px; }
.budget-by-points .timeline-wrapper .line:before,
.budget-by-points .progressbar-wrapper .line:before,
.budget-by-points .timeline-wrapper .line:after,
.budget-by-points .progressbar-wrapper .line:after{
    content: '';
    width: 12px;
    height: 100%;
    background-color: #ecf2f4;
    position: absolute;
    top: 0;
    left: 33.3333%;
    z-index: 10;
}
.budget-by-points .line-progress{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background: url('../images/line-progress_green.png') 0 0 repeat-x;
}
.budget-by-points .line-progress__blue{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: url('../images/line-progress_blue.png') 0 0 repeat-x;
}
.budget-by-points .timeline-wrapper .line:after,
.budget-by-points .progressbar-wrapper .line:after{
    left: auto;
    right: 33.3333%;
}
.budget-by-points .timeline-wrapper .line .wrapper { margin: 0 6px; }
.budget-by-points .timeline-wrapper .line .caret { background-image: url('../images/timeline-caret-1.png'); width: 17px; height: 9px; top: 12px; }
.budget-by-points .labels { width: 810px; height: auto; left: 103px; margin-top: 2px; font-weight: 400; font-size: 14px; }
.budget-by-points .label { width: 33.33%; margin-right: 0; }

.budget-by-points .progressbar-wrapper { width: 100%; height: auto;padding-bottom: 15px; font-weight: bold; }
.budget-by-points .sum { top: 15px; left: 30px; width: 40px; height: 40px;-webkit-background-size: contain;
    background-size: contain; }
.budget-by-points .progressbar { width: 810px; height: 19px; top: 15px; left: 90px; }
.budget-by-points .white { height: 19px; }
.budget-by-points .blue { background-image: url('../images/progressbar-bg-grad.png'); height: 19px; }
.budget-by-points .green { background-image: url('../images/progressbar-bg-grad.png'); height: 19px; }
.budget-by-points .done, .budget-by-points .overdraft { position: relative; top: 0; left: 0; font-weight: 400; font-size: 14px; }
.budget-by-points .done span, .budget-by-points .overdraft  span { font-weight: 700; font-size: 14px; }

.year-summary { position: absolute; z-index: 25; bottom: 20px; right: 0; font-size: 14px; }
.year-summary .diagram-wrapper { background: none; position: relative; height: auto; width: 225px; margin-top: 0; padding-top: 0; font-weight: 400; text-align: center; }
#flash-diagram { display: none; margin: 5px auto !important; }
.year-summary .diagram-wrapper span { font-weight: 700; }




.tab-select__title{
    position: relative;
    display: block;
    padding: 10px 15px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
.tab-select__value:hover .tab-select__title{
    background-color: #fff;
    color: #000 !important;
}
.tab-select__title:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3.5px;
    border: 7px solid transparent;
    border-top-color: #e1e1e1;
}
.tab-select__value:hover .tab-select__title:after{
    border-top-color: #000;
}
.tab-select__value{
    position: relative;
}
.tab-select__value > ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 50;
}
.tab-select__value:hover ul{
    display: block;
}
.tab-select__value > ul li{
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.tab-select__text{
    font-weight: 400 !important;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.tab-select__text .status-ok,
.tab-select__text .status-error,
.tab-select__text .status-green,
.tab-select__text .status-red,
.tab-select__text .status-orange,
.tab-select__text .status-yellow{
    flex:  none;
}
.tab-select__value > ul .text-lt span.tab-select__text{
    font-size: 12px;
}
.tab-select__value > ul .text-lt span.tab-select__text b{
    font-size: 14px;
}
.status-ok,
.status-error,
.status-green,
.status-red,
.status-orange,
.status-yellow
{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.tab-select__text .status-ok,
.tab-select__text .status-error,
.tab-select__text .status-green,
.tab-select__text .status-red,
.tab-select__text .status-orange,
.tab-select__text .status-yellow {
    margin-right: 7px;
}
.status-ok{
    background-color: #63b030;
}
.status-error{
    background-color: #e51f1f;
}
.status-green{
    background-color: #63b030;
}
.status-red{
    background-color: #e51f1f;
}
.status-orange{
    background-color: orange;
}
.status-yellow{
    background-color: yellow;
}
.wrap-data{
    padding: 5px 15px;
    line-height: 1.4;
}

.tab.has-pane.active .tab-select__title{
    color: #fff;
}
.tab.has-pane.active  .tab-body .wrap-data span{
    color: #fff;
}

.wrap-result{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
    width: 810px;
    left: 107px;
    position: relative;
}


.tooltip-line {
    display: inline;
    position: relative;
    z-index: 999;
}

/* Gap filler */
.tooltip-line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-line:hover::after {
    pointer-events: auto;
}

/* tooltip-line */

.tooltip-line .tooltip-line-content {
    position: absolute;
    z-index: 9999;
    width: 300px;
    left: 50%;
    bottom: 100%;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    color: #fffaf0;
    background: transparent;
    opacity: 0;
    margin: 0 0 20px -150px;
    cursor: default;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}

.tooltip-line:hover .tooltip-line-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.tooltip-line .tooltip-line-content div {
    display: block;
}

.tooltip-line .tooltip-line-text {
    overflow: hidden;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}

.tooltip-line:hover .tooltip-line-text {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.tooltip-line .tooltip-line-inner {
    background: #5eacdd;
    padding: 20px;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.tooltip-line:hover .tooltip-line-inner {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Arrow */

.tooltip-line .tooltip-line-content::after {
    content: '';
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #fffaf0;
    border-width: 10px;
    margin-left: -10px;
}
